body, .main-view{
    width: 100%;
}


/**
* FIx for firefox
* @todo correct this style well in chrome you get extra space
* toolbar is hidden
*
#main-toolbar.toolbar{
    padding-top:30px;
}*/
/**
* FIx for firefox
* @todo correct this style well
* a white botttom band in the firefox 

#context-menu-bar > ul,
#codehint-menu-bar > ul{
    margin-bottom:0px;
}*/
/**
* FIx for firefox
* @todo menu toolbar dont' have the same height in firefox
*/
/*#main-toolbar.toolbar > ul.nav{
    height:20px;
}*/